In [1]:
def AverageReport(tank1, tank2, tank3):
    average = (tank1 + tank2 + tank3) / 3
    return f"El promedio de los tanques es: {average}"

In [2]:
print(AverageReport(16, 23, 55))

El promedio de los tanques es: 31.333333333333332

In [3]:
def Average(tank1, tank2, tank3):
    return (tank1 + tank2 + tank3) / 3

def CreateReport(tank1, tank2, tank3):
    return f"""Fuel Report
    Average: {Average(tank1, tank2, tank3=tank3)}
    Tank1: {tank1}
    Tank2: {tank2}
    Tank2: {tank3}
    """

print(CreateReport(34, 56, 67))

Fuel Report
    Average: 52.333333333333336
    Tank1: 34
    Tank2: 56
    Tank2: 67

In [5]:
def MissionReport(startTime, flightTime, detination, extTank, intTank):
    return f"""
    Departure time: {startTime}
    Destination: {detination}
    Flight time: {flightTime}
    Total fuel: {extTank + intTank}
    """

print(MissionReport(8.30, 3, "Tj", 34, 10))

    Departure time: 8.3
    Destination: Tj
    Flight time: 3
    Total fuel: 44

In [6]:
def MissionReport2(destination, *flightTime, **fuelTanks):
    return f"""
    Destination: {destination}
    Flight time: {sum(flightTime)}
    Total fuel: {sum(fuelTanks.values())}
    """

print(MissionReport2("Tj", 12, 34, tank1=23, tank2=45,tank3=5))

    Destination: Tj
    Flight time: 46
    Total fuel: 73